<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Listagem de Clientes</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>    
        <p>
        <h1>Cadastro</h1>
        </p>
        <a th:href="@{/cadastro}">Cadastrar Cliente</a>
        <a th:href="@{/listagem}">Listar Cliente</a>
    </body>
</html>